@{
    ViewData["Title"] = "Home Page";
}

<form action="/newplayer" method="post">
    <input class="inputform" type="textfield" id="username" name="playerName" placeholder="Name">
    <input class="btn btn-dark" type="submit" id="submit" value="PLAY GAME">
</form>