@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="greeting" class="display-4">Welcome</h1>
</div>

<form action="/game" method="get">
    <input type="submit" id="playgame" value="PLAY GAME"/>
  </form>