@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="greeting" class="display-4">Welcome</h1>
</div>

<a href="/game"><button type="button" id="playgame" class="btn btn-dark">PLAY GAME</button></a>
