<h1 class="title">T U R D L E</h1>

@* <div class="main"> *@
<div>
  @* </div> *@
  
  <form action="/game" method="post">

  <div class="button-labels">
    <input class="check" type="radio" id="radio1" hidden='true' name="incompleteWord" value="happy">
    <label for="happy">_AP_Y</label>
  </div>

  
  <div class="button-labels">
    <input class="check" type="radio" id="radio2" hidden='true' name="incompleteWord" value="ghost">
    <label for="ghost">G_O_T</label>
  </div>

  
  <div class="button-labels">
    <input class="check" type="radio" id="radio3" hidden='true' name="missingLetters" value="happy">
    <label for="happy">HP</label>
  </div>

  
  <div class="button-labels">
    <input class="check" type="radio" id="radio4" hidden='true' name="missingLetters" value="ghost">
    <label for="ghost">HS</label>
  </div>
  
  <input type="submit" id="play" value="PLAY"/>
  </form>
</div>
