<h1 class="title">T U R D L E</h1>

<div>
  
  <form action="/game" method="post">

  @foreach(WordCombo combo in ViewBag.wordCombos)
  {
    <div class="btn btn-dark">
      <input class="incompleteWord" type="radio" id="radio1" name="incompleteWord" value="@combo.FullWord">
      <label for="incompleteWord">@combo.IncompleteWord</label>
    </div>
    <br>

  }  
  @foreach(WordCombo combo in ViewBag.wordCombos)
  {
    <div class="btn btn-dark">
      <input class="missingLetters" type="radio" id="radio2" name="missingLetters" value="@combo.FullWord">
      <label for="missingLetters">@combo.MissingLetters</label>
    </div>
    <br>

  }  
  <br>
  <input type="submit" id="play" value="PLAY"/>
  </form>
</div>
