<h1 class="title">T U R D L E</h1>

<div>
  
  <form action="/game" method="post">

  @foreach(WordCombo combo in ViewBag.wordCombos)
  {
    <div class="btn btn-dark">
      <input class="incompleteWord" type="radio" id="radio1" name="incompleteWord" value="@combo.FullWord">
      <label for="incompleteWord">@combo.IncompleteWord</label>
    </div>
    <br>

  }
  <div id="missingLettersList">
    @foreach(WordCombo combo in ViewBag.wordCombos)
    {
      <div class="btn btn-dark">
        <input class="missingLetters" type="radio" id="radio2" name="missingLetters" value="@combo.FullWord">
        <label for="missingLetters">@combo.MissingLetters</label>
      </div>
    }
  </div> 
  <br>
  <input type="submit" id="play" value="PLAY"/>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    shuffleMissingLetters();
  });
  function shuffleMissingLetters() {
    var list = document.querySelector("#missingLettersList");
    for (var i = list.children.length; i >= 0; i--) {
        list.appendChild(list.children[Math.random() * i | 0]);
    }
  }
</script>